<h2>Shopping Cart</h2>

<div *ngFor="let item of cartItems">
  <h3>{{item.name}}</h3>
  <h4>{{item.price | currency:"GBP"}}</h4>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
  </div>

    <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
</form>